
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 30px;
}

body {
    background-color:darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.conte {
    text-align: center;
}



.foto {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.foto img {
    width: 400px;
    height: auto;
}

